body {
  background: radial-gradient(
    circle at 25% 50%,
    rgb(252, 239, 183) 20%,
    rgb(194, 223, 252) 80%
  );
  font-family: "Poppins", sans-serif;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  background-color: white;
  padding: 20px;
  border: 2px solid #dadde1;
  border-radius: 20px;
  box-shadow: 0 0 8px grey;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
}

.description {
  font-size: large;
}

.weather-temperature .temperature {
  font-size: 75px;
  font-weight: 500;
}

.weather-temperature .unit {
  position: relative;
  top: -34px;
}

.condition {  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
  color: #878787;
}

.weather-forecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 30px;
  text-align: center;
  color: #000;
  background-color: white;
  border: 1px solid #dadde1;
  box-shadow: 0 0 6px #dadde1;
  border-radius: 20px;
}

.weather-forecast-day {
  font-size: 14px;
}

.weather-forecast-temperature-max {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.icon {
  margin-left: 30px;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}



